{% extends 'user/user-base.html' %}
{% load static %}
{% block nav_b %}
<div class="col-lg-10">
    <div class="header__nav">
        <nav class="header__menu mobile-menu">
            <ul>
                <li><a href="{% url 'base' %}"><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;Dashboard</a></li>
                <li class="active"><a href="{% url 'myprofile' %}"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;My Profile</a></li>                
                <li><a href="{% url 'log_out' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a></li>                
            </ul>
        </nav>
    </div>
</div>
{% endblock nav_b %}

{% block content %}

<center><h1 class="mt-5 text-white" style="font-family: fantasy;">Change Passowrd</h1></center>
<section class="spad">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-lg-6">
                <div class="card h-blur">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <center>
                        <div class="col-8 mt-3">
                            <h4 class=" form-label">Old password</h4>
                            <input type="password" placeholder="Old password" title="Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number" name="old_password" class="form-control mb-4 form-control-lg bg-gray-800 border-dark" id="id_old_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required >
                             
                            <h4 class=" form-label">New password</h4>
                            <input type="password" placeholder="New password" title="Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number" name="new_password1" class="form-control mb-4 form-control-lg bg-gray-800 border-dark" id="id_new_password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required >
                                         
                            <h4 class=" form-label">Confirm password</h4>
                            <input type="password" placeholder="Confirm password" title="Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number" name="new_password2" class="form-control mb-4 form-control-lg bg-gray-800 border-dark" id="id_new_password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required >
                        </div>
                            
                                <button type="submit" class="btn btn-primary ">Update</button>
                    </center>
                    <br>
                    </form>
                </div>
            </div>
            <div class="col-3"></div>

        </div>
    </div>
</section>

  {% endblock content %}