{% load static %}
<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Anime Template">
        <meta name="keywords" content="Anime, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Anime | Template</title>

        <!-- Google Font -->
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}"
            type="text/css">
        <link rel="stylesheet" href="{% static 'user/css/font-awesome.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'user/css/elegant-icons.css' %}"
            type="text/css">
        <link rel="stylesheet" href="{% static 'user/css/plyr.css' %}"
            type="text/css">
        <link rel="stylesheet" href="{% static 'user/css/nice-select.css' %}"
            type="text/css">
        <link rel="stylesheet" href="{% static 'user/css/owl.carousel.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'user/css/slicknav.min.css' %}"
            type="text/css">
        <link rel="stylesheet" href="{% static 'user/css/style.css' %}"
            type="text/css">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" href="{% static 'user/css/radio.css' %}">
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <style>
            .h-blur {
                background-color: rgba(255, 255, 255, 0.341);  
                backdrop-filter: blur(5px);
                border-radius: 20px;
                }
        </style>
    </head>

    <body>
        <!-- <div style="background: linear-gradient(to bottom, #061246, #1c0960);"> -->
        <div>

        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <!-- Header Section Begin -->
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="header__logo">
                            
                        </div>
                    </div>
                    {% block nav_h %}
                    <div class="col-lg-10">
                        <div class="header__nav">
                            <nav class="header__menu mobile-menu">
                                <ul>
                                    <li class="active"><a href="{% url 'home' %}"><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;Home</a></li>
                                    <li><a href="{% url 'user_login' %}"><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;User</a></li>
                                    <li><a href="{% url 'about' %}"><i class="fa fa-video-camera" aria-hidden="true"></i>&nbsp;About us</a></li>
                                    <li><a href="{% url 'contact' %}"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    {% endblock nav_h %}
                </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </header>
        <!-- Header End -->

        <!-- Breadcrumb Begin -->

        <!-- Breadcrumb End -->

        <!-- Anime Section Begin -->
        {% block content %}
<center><h1 class="my-5 text-white" style="font-family: fantasy;">Home</h1></center>

        <section class="hero">
            <div class="container">
                <div class="hero__slider owl-carousel">
                    <div class="hero__items set-bg"
                        data-setbg="static/logoback2.png">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="hero__text">
                                    <br>
                                    <br>
                                    <br>
                                    <h2>Cartoonify</h2>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="hero__items set-bg"
                        data-setbg="static/videoback.jpg">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="hero__text">
                                    <br>
                                    <br>
                                    <br>
                                    <h2 style="color: blueviolet;">Video Cartoonify</h2>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero__items set-bg"
                        data-setbg="static/imageback.jpg">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="hero__text">
                                    <br>
                                    <br>
                                    <br>
                                    <h2 style="color: blueviolet;">Image Cartoonify</h2>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        {% endblock content %}
        <!-- Anime Section End -->

        <!-- Footer Section Begin -->
        <footer class="footer">
            <div class="page-up">
                <a href="#" id="scrollToTopButton"><span
                        class="arrow_carrot-up"></span></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer__nav">
                            <ul>
                                <li class="active"><a href="./index.html">Homepage</a></li>
                                <li><a href="./categories.html">Categories</a></li>
                                <li><a href="./blog.html">Our Blog</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                    
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->

        <!-- Search model Begin -->
        <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch"><i class="icon_close"></i></div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Search
                        here.....">
                </form>
            </div>
        </div>

        







        <script type="text/javascript">
        function validate(){
          
    
          var image = document.myform.image
          if (image.value.length == "") {
            alert("Upload Image to Convert");
            image.focus();
            return false;
            
            }
      
            return true;
          }
            
          </script>
        
        <!-- Search model end -->
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <script>swal({
                title: "Success!",
                text: "{{message}}",
                icon: "success",
                button: "OK",
            });
        </script>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <script>swal({
                title: "Warning :)",
                text: "{{message}}",
                icon: "warning",
                button: "OK",
             
            });
        </script>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <script>swal({
                title: "info :)",
                text: "{{message}}",
                icon: "info",
                button: "OK",
            });
        </script>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <script>swal({
                title: "error :)",
                text: "{{message}}",
                icon: "error",
                button: "OK",
            });
        </script>
        {% endif %}
        {% endfor %}
        {% endif %}
        <!-- Js Plugins -->
        <script>
            $(".Click-here").on('click', function() {
                $(".custom-model-main").addClass('model-open');
              }); 
              $(".close-btn, .bg-overlay").click(function(){
                $(".custom-model-main").removeClass('model-open');
              });
        </script>
        <script src="{% static 'user/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'user/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'user/js/player.js' %}"></script>
        <script src="{% static 'user/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'user/js/mixitup.min.js' %}"></script>
        <script src="{% static 'user/js/jquery.slicknav.js' %}"></script>
        <script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'user/js/main.js' %}"></script>
    </div>
    
    </body>

</html>