{% extends 'main/main-home.html' %}

{% block nav_h %}
<div class="col-lg-10">
    <div class="header__nav">
        <nav class="header__menu mobile-menu">
            <ul>
                <li><a href="{% url 'home' %}"><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;Home</a></li>
                <li class="active"><a href="{% url 'user_login' %}"><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;User</a></li>
                <li><a href="{% url 'about' %}"><i class="fa fa-video-camera" aria-hidden="true"></i>&nbsp;About us</a></li>
                <li><a href="{% url 'contact' %}"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
{% endblock nav_h %}

{% block content %}
<center><h1 class="my-5 text-white" style="font-family: fantasy;">Reset Password</h1></center>
<main>
    <div class="container">
      <div class="row d-flex justify-content-center py-vh-5 pb-0">
        <div class="col-12 col-lg-10 col-xl-8 card h-blur">
            <div class="post-area pd-top-75 pd-bottom-50 " id="trending" >
                <center>
             <form method="post" name='myform'  onsubmit='return validate();'  enctype="multipart/form-data">
              {% csrf_token %}
                    <div class="col-8">
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" title="Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required name='password' class="form-control form-control-lg bg-gray-800 border-dark" id="exampleInputPassword1">
                    </div>
                        <button type="submit" class="btn btn-success btn-xl mb-4">Change Password</button>

                    </div>
                </form>
            </center>
            <br>
            </div>
    </div>
      </div>
      <br>
    <br>
    <br>
    <br>
    
    </div>
    
  </main>
 
  {% endblock content %}