{% extends 'main/main-home.html' %}

{% block nav_h %}
<div class="col-lg-10">
    <div class="header__nav">
        <nav class="header__menu mobile-menu">
            <ul>
                <li><a href="{% url 'home' %}"><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;Home</a></li>
                <li class="active"><a href="{% url 'user_login' %}"><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;User</a></li>
                <li><a href="{% url 'about' %}"><i class="fa fa-video-camera" aria-hidden="true"></i>&nbsp;About us</a></li>
                <li><a href="{% url 'contact' %}"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
{% endblock nav_h %}

{% block content %}
<center><h1 class="my-5 text-white" style="font-family: fantasy;">Forgot Password</h1></center>
<main>
    <div class="container">
      <div class="row d-flex justify-content-center py-vh-5 pb-0">
        <div class="col-12 col-lg-10 col-xl-8 card h-blur">
            <div class="post-area pd-top-75 pd-bottom-50 " id="trending" >
                <center>
             <form method="post" name='myform'  onsubmit='return validate();'  enctype="multipart/form-data">
              {% csrf_token %}
                    <div class="col-8">
                    <div class="my-5">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" name='email' class="form-control mb-4 form-control-lg bg-gray-800 border-dark" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                  
                        <button type="submit" class="btn btn-success btn-xl mb-4">Send Email</button>

                    </div>
                </form>
                <br>
            
            </center>
            <br>
            </div>
    </div>
      </div>
      <br>
    <br>
    <br>
    <br>
    
    </div>
    
  </main>
  <script type="text/javascript">
    function validate(){
      var email = document.myform.email
      var emailpattern = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([com\co\.\in])+$/; // to validate email id
      
    
  
 
    
      if (email.value.length <= 0) {
      alert("Enter your email id");
      email.focus();
      return false;
      
      }
      if(!email.value.match(emailpattern)){
      alert("Invalid Email format"); 
      email.focus();            
      return false;
      }
      
    
      
    </script>
  {% endblock content %}